*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif;

}

  .ul_li {
    display: inline-block;
  }
.nav_ul{
    width: 350px;
  }
  
  .a_navegador , .boton_video{
    display: block;
    padding: 9px;
    border-radius: 11px;
  }
  .svg_imagen {
    opacity: 0;
    animation: aparecer 1s forwards;
  }
  
  @keyframes aparecer {
    from {
      opacity: 0;
      transform: translateY(-20px);
    }
    to {
      opacity: 1;
      transform: translateY(0);
    }
  }

/*Header*/
.header {
    background: url(./Material/Info-Trabajo-Final/assets/imagenes/codigo.jpg) 50% 0 fixed;
    background-size: cover;
    height: 500px;
  }
h1{
    color: rgb(238, 238, 238);
    text-shadow: 2px 2px gray, 6px 6px black;
    font-size: 3.5em;
}

/*Main*/

main h2, article h2{
    text-shadow: 2px 2px black;
    font-size:  2.5em;
    margin-bottom: 20vh;
}
.carta{
    width: 360px;
    height: 410px;
    border: 5px solid rgb(103, 137, 131);
 
}
.carta img{
    width: 100%;
}
.contenedor{
    padding-bottom: 10%;
}
.boton_carta{
    width: 40%;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
    margin-bottom: 15px;
}
.carta a{
    border-radius: 9px;
    color: rgb(240, 245, 228);
}

/*Footer*/
.footer{
    padding: 35px;
    background-color: rgb(103, 137, 131);

}
footer div img{
    height: 80px;
}
footer .div_footer{
    width: 300px;
}
footer .div_footer h3{
    font-size: 0.875em;
}

/*Historia-Main*/
.contenedor_h2_p{
    gap: 30px;
    padding: 80px 60px;
}
.main_historia div h2{
    margin: auto 20px;
    font-size: 40px;
}
p{
    color: #E6DDC4;
}
.p_historia{
    width: 75%;
}
.div_main_top{
    padding-top: 160px;
}

/*Juguemos*/
.main_juguemos{
    padding: 90px 20px;
    margin: auto 0px;
}
.h2_juguemos{
    margin-bottom: 0;
}

.contenedor_juguemos{
    flex-direction: row;
}
.contenedor_dropZone_juguemos{
    width: 275px;
    height: 400px;
    background-color: grey;
    border: 2px solid black;
}
.img_juguemos{
    width: 275px;
    height: 400px; 
    
}
.gap_imagenes_juguemos{
    gap: 10px;
    margin: 40px;
}
.button_juguemos{
    padding: 10px 100px;
    margin: auto;
}
.button_juguemos:hover {
    cursor: pointer;
  }
.hidden{
    visibility: hidden;
}
/*Juguemos*/


/*VIDEO*/
article{
    padding: 100px 0px;
}

.section_video{
    width: 70%;
    padding: 5px;
    background-color: black;
    border-radius: 5px;
}
.botones{
    padding: 2px 5px;
    border-radius: 10px;
    gap: 20px;
}
.boton_video{
    width: 80px;
}
.barra_video{
    background-color: #1d1d1d;
    padding: 5px 0px;
}
/*VIDEO*/

/*Conjunto*/

.background_color_blue{
    background-color: rgb(24, 28, 48);
}
.color_blue{
    color: rgb(24, 28, 48);;
}
.justify_content_space_between{
    justify-content: space-between;
}
.align_items_center{
    align-items: center;
}
.justify_content_space_around{
    justify-content: space-around;
}
.text_align_center{
    text-align: center;
}
.text_decoration_none{
    text-decoration: none;
}
.box_shadow_green{
    box-shadow: 2px 3px rgb(103, 137, 131);
}
.color_azul{
    color: rgb(24, 28, 48);
}
.color_verde{
    color: rgb(103, 137, 131);
}
.justify_content_center{
    justify-content: center;
}
.background_color_beige{
    background-color: rgb(230, 221, 196);
}
.flex_direction_column{
    flex-direction: column;
}
.width_50_por{
    width: 50%;
}
.display_flex{
    display: flex;
}
/*Conjunto*/